@model Demo.BL.Models.EmaliVM
@{
    ViewBag.Title = SharedLocalizer["Email"];
}

<h2>@SharedLocalizer["Send Mail"]</h2>
<h3>@ViewBag.mes</h3>
<form class="form-group" asp-action="Index" asp-controller="Email">
    <label asp-for="Title">@SharedLocalizer["Title"] </label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label asp-for="Massage">@SharedLocalizer["Massage"]</label>
    <textarea asp-for="Massage" class="form-control" rows="7" placeholder="@SharedLocalizer["EnterMessage"]"></textarea>
    <br /><br />
    <center>
        <input type="submit" value="@SharedLocalizer["Send"]" class="btn btn-danger btn-lg" />
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-warning btn-lg" />
    </center>
</form>

