@model Demo.BL.Models.EmployeeVM
@inject Demo.BL.Interface.ICountryRepo country
@{
    ViewBag.Title = SharedLocalizer["Create New Employee"];
}


<h2>@SharedLocalizer["Create New Employee"]</h2>
<form class="form-group w-75" asp-action="Create" asp-controller="Employee">

    <label asp-for="Name">@SharedLocalizer["Name"]</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span class="alert alert-danger padding-0" asp-validation-for="Name"></span>
    <br />

    <label asp-for="Salary">@SharedLocalizer["Salary"]</label>
    <input type="text" class="form-control" asp-for="Salary" />
    <span class="alert alert-danger padding-0" asp-validation-for="Salary"></span>
    <br />

    <label asp-for="HireDate">@SharedLocalizer["HireDate"]</label>
    <input type="date" class="form-control" asp-for="HireDate" />
    <br />

    <label asp-for="Note">@SharedLocalizer["Note"]</label>
    <textarea rows="5" class="form-control" asp-for="Note"></textarea>
    <br />

    <label asp-for="Email">@SharedLocalizer["Email"]</label>
    <input type="email" class="form-control" asp-for="Email" />
    <span class="alert alert-danger padding-0" asp-validation-for="Email"></span>
    <br />

    <label asp-for="Address">@SharedLocalizer["Address"]</label>
    <input type="text" class="form-control" asp-for="Address" />
    <span class="alert alert-danger padding-0" asp-validation-for="Address"></span>
    <br />

    <div class="demo-checkbox">
        <input type="checkbox" asp-for="IsActive" checked="">
        <label asp-for="IsActive">@SharedLocalizer["IsActive"]</label>
    </div>
    <br />

    <select asp-for="DepartmentId" asp-items="(SelectList)ViewBag.DepartmentList">
        <option disabled>@SharedLocalizer["Choose Department"]</option>
    </select>
    <br />
    <br />
    <select id="CountryList">
        <option disabled>@SharedLocalizer["Choose Country"]</option>
        @foreach (var item in country.Get())
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <br />

    <select id="CityList">
        <option disabled>@SharedLocalizer["Choose City"]</option>
    </select>
    <br />

    

    <select id="DistrictId" asp-for="DistrictId">
        <option>@SharedLocalizer["Choose District"]</option>
    </select>
    <br />
    <br />
    <br />
    <center>
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-danger btn-lg " />
        <input type="reset" value="@SharedLocalizer["Cancel"]" class="btn btn-warning btn-lg" />
        <a asp-action="Index" asp-controller="Employee" class="btn bg-purple btn-lg">@SharedLocalizer["Back To Data"]</a>

    </center>
</form>

@section Validation {
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>

        $(function () {

            $("#CountryList").change(function () {

                var CountryId = $("#CountryList option:selected").val();

                $("#CityList").empty($());
                $("#CityList").append($("<option>Choose City</option>"));
              
                $.ajax({

                    type: "POST",
                    url: "/Employee/GetCityByCountryId",
                    data: { CtryId: CountryId },
                    success: function (res) {
                        console.log(res);
                        $.each(res, function (i, e) {
                            $("#CityList").append($("<option value='" + e.Id + "'>" + e.Name + "</option>"));
                        });
                    }

                });


            });

            $("#CityList").change(function () {

                var CityId = $("#CityList option:selected").val();

                $("#DistrictId").empty();
                $("#DistrictId").append("<option>Choose District</option>");

                $.ajax({

                    type: "POST",
                    url: "/Employee/GetDistricByCityId",
                    data: { CtyId: CityId },
                    success: function (res) {
                        $.each(res, function (i, e) {
                            $("#DistrictId").append("<option value='" + e.Id + "'>" + e.Name + "</option>");
                        });
                    }

                });


            });


        });



    </script>
 
}






